body {
    margin-top: 59px;
}

h1 {
    font-family: 'Protest Riot', sans-serif;
}

h2 {
    font-family: 'Protest Riot', sans-serif;
}

h3 {
    font-family: 'Protest Riot', sans-serif;
}

img {
    width: 300px;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
}

ol {
    font-size: large;
    float: inline-start;
}

ul {
    font-size: large;
    float: left;
}